/*** Hero ***/
.hero {
  color: #f3f3f3;
  width: 100%;
  min-width: 390px;
  background-color: #032253; }

.hero__container {
  height: 100%; }

.hero__row {
  height: 100%; }

.hero__title {
  font-size: 2.5rem;
  text-transform: uppercase; }

.hero__subtitle {
  font-size: 1.5rem;
  font-weight: lighter;
  text-transform: uppercase; }

.hero__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.hero__pic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 540px; }

.hero__pic {
  width: 250px;
  fill: #f3f3f31a;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
  max-width: 500px; }

.hero__cta {
  width: 150px; }

/** About **/
.about {
  background-color: transparent; }

.about__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.about__pic {
  width: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 50%; }

/** Services **/
.services {
  background-color: #f3f3f3;
  padding-top: 25px;
  padding-bottom: 25px;
  min-width: 390px; }

.services__icon {
  width: 110px;
  margin: 0 auto;
  display: block; }

.services__title {
  text-align: center;
  font-size: 1.23rem; }

.services__text {
  text-align: center;
  font-size: 0.9rem; }

/** Social proof **/
.testimonials__cta {
  margin-top: 30px;
  width: 160px; }

.testimonials__name {
  font-size: 0.9rem; }

@media (min-width: 768px) {
  /** Hero **/
  .hero {
    height: 600px;
    padding-top: 0; }
  .hero__title {
    font-size: 3rem; }
  .hero__subtitle {
    font-size: 2rem; }
  .hero-background {
    height: 600px; }
  .hero__pic-container {
    position: static; }
  .hero__pic {
    width: 85%; }
  /** About **/
  .about__pic {
    width: 100%; } }

