h2 {
  margin-top: 50px; }

h3 {
  margin-top: 40px; }

.post__title-container {
  background-color: var(--blue);
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 35px;
  min-width: 390px; }

.post__title {
  font-size: 2.5rem;
  color: var(--white); }

@media (min-width: 768px) {
  .post__title {
    font-size: 3rem; } }

